<nav class = 'navbar navbar-default'>
  <div class = 'container-fluid'>
    <div class = 'navbar-header'>
      <a class = 'navbar-brand'>HOTEL SHERATONE</a>
    </div>
    <ul class = 'nav navbar-nav'>
      <li routerLinkActive = 'active'>
        <a routerLink = '/current-rooms' >Current Rooms </a>
      </li>
      <li routerLinkActive = 'active'>
        <a routerLink = '/new-booking' >New Booking</a>
      </li>
      <li routerLinkActive = 'active'>
        <a routerLink = '/room-service' >Room Service</a>
      </li>
      <li routerLinkActive = 'active'>
        <a routerLink = '/expenditure'>
          Expenditure
        </a>
      </li>
      <li routerLinkActive = 'active'>
        <a routerLink = '/reports'>
          Reports
        </a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
