<div class = 'container mainDiv'>
  <div class = 'row text-center'>
    <div class = 'col-md-6'>
     <h2>No of Rooms : {{ rooms.length }} </h2>
    </div>
    <div class = 'col-md-6'>
      <h2>Rooms filled : {{ roomsFilledCount }}</h2>
    </div>
  </div>
  <div *ngFor = 'let floor of floorArray' class = 'row text-center'>
    <div class = 'col-md-1 top-buffer roomBox'  *ngFor = 'let room of rooms | FloorFilterPipe : floor'>
      <a [routerLink] = "room.filled ? ['/booking',room.bookingId] :  []" >
        <div class = 'room' [class.filled] = 'room.filled'>
          {{ room.number }}
        </div>
      </a>
    </div>
  </div>
